[submodule "third_party/ElaWidgetTools"]
	path = third_party/ElaWidgetTools
	url = https://github.com/RolinShmily/ElaWidgetTools.git
	branch = smm/adapt
[submodule "third_party/HuskarUI"]
	path = third_party/HuskarUI
	url = https://github.com/mengps/HuskarUI.git
